[Unit]
Description=xkeysnail

[Service]
Type=simple
ExecStart=/usr/bin/sudo /usr/bin/xkeysnail /home/<%= @user %>/.config/xkeysnail/config.py
Restart=always

[Install]
WantedBy=default.target
